<app-header></app-header>
<form action="" [formGroup]="formularioClientes">
    <label for="dni">DNI:</label>
    <input type="text" id="dni" name="dni" required pattern="[0-9]{8}" title="Ingresa un DNI válido de 8 dígitos" formControlName="numDoc">

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required formControlName="nombre">

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" required formControlName="apellido">

    <input type="submit" value="Crear" (click)="crearCliente()">
</form>

<h2>Tabla de Datos</h2>

    <table>
        <thead>
            <tr>
                <th>DNI</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Editar</th>
                <th>Borrar</th>
            </tr>
        </thead>
        
           <ng-template pTemplate="body" let-Clientes>
            <tbody></tbody>
            <tr>
                <td>{{Clientes.numDoc}}</td>
                <td>{{Clientes.Nombre}}</td>
                <td>{{Clientes.Apellido}}</td>
                <td> <button (click)="activador(Clientes)">Editar</button></td>
                <td> <button (click)="deleteCliente(Clientes.numDoc)">Borrar</button></td>
            </tr>

    </ng-template>
    </table>

    <dialog>
        <form action="" [formGroup]="formularioClientes" method="dialog">
            <label for="dni">DNI:</label>
            <input type="text" id="dni" name="dni" required pattern="[0-9]{8}" title="Ingresa un DNI válido de 8 dígitos" formControlName="numDoc">
        
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required formControlName="nombre">
        
            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" required formControlName="apellido">
        
            <input type="submit" value="Actualizar" (click)="actualizarCliente()">
        </form>
    </dialog>